.container-fluid
  = render :partial => 'home/slider'
  = render :partial => 'home/tile_menu'
= render :partial => 'home/welcome'
= render :partial => 'home/glug'
= render :partial => 'home/update'
= render :partial => 'home/activities'