= render :partial => 'home/welcome'
.container-fluid
  = render :partial => 'home/slider'
  = render :partial => 'home/tile_menu'
= render :partial => 'home/glug'
= render :partial => 'home/update'
= render :partial => 'home/projects'
= render :partial => 'home/activities'
= render :partial => 'home/contact_us'