!!!
%html
  %head= render :partial => 'layouts/header'
  %body
    = render :partial => 'layouts/navbar'
    .main-content
      = yield
    = render :partial => 'layouts/footer'
    = javascript_include_tag 'application'